/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Loader

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}


/* 2. Loader ================================= */

.loader {
	
	.loader-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100vh;

			img {
				padding: 10px;
				width: 20%;
		}
		.speaker-loader {
			opacity: 1;
		}
		.logo-loader {
		 opacity: 0;	
		}
	}

}
