/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Loader

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
@import 'font';






$mobile-break: 320px;
$tablet-break: 768px;
$desktop-break: 1200px;


$bandfont: 'viimeinen_syksyregular';

$accentRed: #de4344;
$darkRed: #b13637;
$accentBlue: #65a6af;

// /* 1. Main Layout ================================= */


* {
	box-sizing: border-box;
}

/* 2. Loader ================================= */

.loader {
	position: relative;
	width: 100%;
	height: 100vh;

		.top-text-wrapper {
			position: absolute;
			height: 10vh;
			top: 0;
			font-family: $bandfont;
			font-size: 10vh;
			display: flex;
			flex-direction: row;
			justify-content: center;

			.bolt1-loader, .bolt2-loader {
				display: inline;
				width: 5%;
			}

			.bolt1 {
				transform: rotate(45deg);
			}

			.bolt2 {
				transform: rotate(-90deg);
			}
		}


	.loader-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100vh;

		.speaker-loader, .logo-loader {
			padding: 10px;
			width: 33%;
		}
		.speaker-loader {
			opacity: 1;
		}
		.logo-loader {
		 opacity: 0;	
		}
	}

}

.content {
	position: relative;
	width: 100%;
	min-height: 100vh;
	background: black;
	display: none;
	
	header {

		.logo-home {
			width: 20%;
			float: left;


				@media screen and (min-width: $mobile-break) {
					display: block;
					margin-left: auto;
					margin-right: auto;
					width: 50%;
					float: none;

				}
			
				@media screen and (min-width: $tablet-break){
					width: 14%;	
					margin: -20px;
					float: left;
					
				}

				@media screen and (min-width: $desktop-break) {
					margin: -25px;
				}

		}
	
		.nav ul {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			font-family: $bandfont;
			color: black;
			background: $accentRed;

			
				@media screen and (min-width: $mobile-break) {
					background: $accentRed;
					padding: 10px;
					justify-content: space-around;
			}

				@media screen and (min-width: $tablet-break){
					background: $accentRed;
					justify-content: flex-end;
				}

			li {
				margin: 40px 40px 0px 10px;
				font-size: 3em;
				
					@media screen and (min-width: $mobile-break) {
						margin: 0px 0px 0px 5px;
						
					}

					@media screen and (min-width: $tablet-break){
						margin: 40px 40px 20px 10px;
					}
			}
		}
		
	}

	.skulls {
		position: relative;

		@media screen and (min-width: $mobile-break) {
			display: none
		}
		@media screen and (min-width: $tablet-break){
			display: block;
		}

		@media screen and (min-width: $desktop-break){
			
		}


		.skull1  {
			position: absolute;
			top: 80%;
			left: -1300px;
			width: 30%;
			transform: rotate(-35deg);
		}
		.skull2 { 
			position: absolute;
			transform: rotate(-60deg);
			left: -1300px;
			top: 80%;
			width: 30%;

		}
	}
	
	.band-names {
		position: relative;
		font-family: $bandfont;
		font-size: 3em;
		text-align: center;

		.tame, .cage {
			color: $accentRed;
		}

		.beck, .incubus {
			color: $accentBlue;
		}

		p {
			color: white;
		}

	}
}//content home end
	
